[run]
omit = 

    *__init__*
    *models.py*
    *admin.py*

    ./src/manage.py
    ./src/config/*

    ./src/app/apps.py
    ./src/app/migrations/*
    
    ./src/app/internal/ngrok_parser.py 
    ./src/app/internal/api.py
    ./src/app/internal/bot.py
    ./src/app/internal/urls.py
    
   
    
    